<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>launcher.sh</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.user.workinghours</string>
    <key>CFBundleName</key>
    <string>Working Hours</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3.2</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>NSLocationUsageDescription</key>
    <string>To automatically switch timers when you arrive at or leave the office.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location in the background to automatically switch timers.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>To automatically switch timers when you arrive at or leave the office.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location in the background to automatically switch timers.</string>
</dict>
</plist>
